# Byte-compiled / cache files
__pycache__/
*.py[cod]
*$py.class

# Django stuff (no SQLite)
*.log
media/
staticfiles/

# Virtual environment
.venv/
venv/
ENV/
env/
.Python

# VS Code settings
.vscode/

# Environment variables and secrets
.env

# macOS + Windows system files
.DS_Store
Thumbs.db

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
frontend/node_modules/
frontend/.env
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?