# Byte-compiled / cache files
__pycache__/
*.py[cod]
*$py.class

# Django stuff (no SQLite)
*.log
media/
staticfiles/

# Virtual environment
.venv/
venv/
ENV/
env/
.Python

# VS Code settings
.vscode/

# Environment variables and secrets
.env

# macOS + Windows system files
.DS_Store
Thumbs.db
